[submodule "references/clap"]
	path = references/clap
	url = https://github.com/clap-rs/clap
[submodule "references/typer"]
	path = references/typer
	url = https://github.com/fastapi/typer
[submodule "references/cobra"]
	path = references/cobra
	url = https://github.com/spf13/cobra
[submodule "dependencies/carnaval"]
	path = dependencies/carnaval
	url = https://github.com/jassielof/carnaval
[submodule "dependencies/trama"]
	path = dependencies/trama
	url = https://github.com/jassielof/trama
